################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/package-lock.json
/authentication.json
/guildsList.txt
/encryptionKey.txt
/data
/backups